body {
    /*font-family: 'Karla', serif;
    font-size: 100%;
    background: url(../images/siteBackground.jpg);*/
    font: normal 14px/1.2em Arial, Helvetica, sans-serif;
    color: #333333;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #5d5d5d;
    /*text-shadow: 0 0px, 1px 1px #ffffff;*/
}

.header-full {
    /*background-color: #2b0e0a;*/
    background-image: url(../Images/hbg.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.divBlockFooter {
    background: #dedede;
    padding: 5%;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 479px) {
    .divColumns {
        -webkit-column-count: 1;
        /*-webkit-column-gap: 10px;*/
        /* -webkit-column-fill: auto; */
        -moz-column-count: 1;
        /*-moz-column-gap: 10px;*/
        /* -moz-column-fill: auto; */
        column-count: 1;
        /*column-gap: 15px;*/
        /*column-fill: auto;*/
        float: none;
    }
}

@media (min-width: 480px) and (max-width: 639px) {
    .divColumns {
        -webkit-column-count: 2;
        /*-webkit-column-gap: 10px;*/
        /* -webkit-column-fill: auto; */
        -moz-column-count: 2;
        /*-moz-column-gap: 10px;*/
        /* -moz-column-fill: auto; */
        column-count: 2;
        /*column-gap: 15px;*/
        /*column-fill: auto;*/
        float: none;
    }
}

@media (min-width: 640px) and (max-width: 991px) {
    .divColumns {
        -webkit-column-count: 3;
        /*-webkit-column-gap: 10px;*/
        /* -webkit-column-fill: auto; */
        -moz-column-count: 3;
        /*-moz-column-gap: 10px;*/
        /* -moz-column-fill: auto; */
        column-count: 3;
        /*column-gap: 15px;*/
        /*column-fill: auto;*/
        float: none;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .divColumns {
        -webkit-column-count: 3;
        /*-webkit-column-gap: 10px;*/
        /* -webkit-column-fill: auto; */
        -moz-column-count: 3;
        /*-moz-column-gap: 10px;*/
        /* -moz-column-fill: auto; */
        column-count: 3;
        /*column-gap: 15px;*/
        /*column-fill: auto;*/
        float: none;
    }
}

@media (min-width: 1025px) and (max-width: 1679px) {
    .divColumns {
        -webkit-column-count: 3;
        /*-webkit-column-gap: 10px;*/
        /* -webkit-column-fill: auto; */
        -moz-column-count: 3;
        /*-moz-column-gap: 10px;*/
        /* -moz-column-fill: auto; */
        column-count: 3;
        /*column-gap: 15px;*/
        /*column-fill: auto;*/
        float: none;
    }
}

@media (min-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    .divColumns {
        -webkit-column-count: 1;
        /*-webkit-column-gap: 10px;*/
        /* -webkit-column-fill: auto; */
        -moz-column-count: 1;
        /*-moz-column-gap: 10px;*/
        /* -moz-column-fill: auto; */
        column-count: 1;
        /*column-gap: 15px;*/
        /*column-fill: auto;*/
        float: none;
    }
}

@media (min-width: 480px) and (max-width: 640px) and (orientation: landscape) {
    .divColumns {
        -webkit-column-count: 3;
        /*-webkit-column-gap: 10px;*/
        /* -webkit-column-fill: auto; */
        -moz-column-count: 3;
        /*-moz-column-gap: 10px;*/
        /* -moz-column-fill: auto; */
        column-count: 3;
        /*column-gap: 15px;*/
        /*column-fill: auto;*/
        float: none;
    }
}


.divColumns {
    /*-webkit-column-count: 5;*/
    /*-webkit-column-gap: 10px;*/
    /* -webkit-column-fill: auto; */
    /*-moz-column-count: 5;*/
    /*-moz-column-gap: 10px;*/
    /* -moz-column-fill: auto; */
    /*column-count: 5;*/
    /*column-gap: 15px;*/
    /*column-fill: auto;*/
    /*float: none;*/
}

.divBlockMain {
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    padding-top: 12px;
    padding-bottom: 12px;
    float:none;
}

.headerSearchMain {
	margin-bottom:20px;
}

.headerSearch {
	margin-top:20px;
}

.socialIconMain{
	margin-top:20px;
}

.divBlockInner {
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    background: #ffffff;
    /*transition: all .2s ease;*/
}


.fontKarlaSerif {
    /*font-family: 'Karla', serif;*/
    font: normal 12px/1.5em Arial, Helvetica, sans-serif;
}
.fontKarlaSerif a {
    /*font-family: 'Karla', serif;*/
     color:#b22222;
}

.fontCourgetteCursive {
    /*font-family: 'Courgette', cursive;*/
    color:#b22222;
}
.fontCourgetteCursive a {
    /*font-family: 'Courgette', cursive;*/
    color:#b22222;
    text-decoration:none;
}

.text-justify {
    text-align: justify;
}

.fontCourgetteCursive h2:hover {
    color:#b22222;
}
.fontCourgetteCursive h2 {
    font-size: 1.2em;
}

.divBlockImage {
    padding-top: 12px;
}

.divBlockImage img:hover {
    box-shadow: 0 0 12px 0 #45463d;
}

.divShowMore {
    text-align:center;
    margin:20px 0px;
}
.divShowMore input[type=button]{
    width: 300px;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Courgette', cursive;
    color: #333;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

.divBlockFooterComment
{
	background: #dedede;
    padding: 1%;
}
.divBlockFooterComment textarea
{
	min-height:80px;
}

/*.example2 {
height: 200px;
 overflow: hidden;
 position: relative;
 margin-top:5px;
}*/
/*.example2 topAddListing{
 width: auto;	
}*/

/*.example2 ul li {
 height: 100px;	
 box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  margin-right:10px;
  border: 1px solid #d2d2d2;
  padding:5px 5px;
  width:94px;
  font-size:11px;
}
.example2 ul li img {
 padding:0px;
 
}*/


.flexslider {
    margin: 0 0 2px;
    background: none;
    border: 0px solid #fff;
    height:140px;
    margin-top:6px;
}
.flexslider img{
    border: 2px solid #B22222;
    height:100px !important;
}
.flex-direction-nav a {
    top: 45%;
}
.flex-direction-nav a:before {
    margin-top: 12px;
}
.flex-caption {
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgb(178, 34, 34);
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 12px;
    line-height: 17px;
    margin-top: 0px;
    height: 35px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: clip;
}
.flex-caption a{
    color: #ffffff;
}
.flex-pauseplay a:before {
    font-size: 16px;
    color: #F2F2F2;
    display:none;
}
.flexslider:hover .flex-pauseplay a:before {
    display: inline-block;
}
li.css a {
            border-radius: 0;
}

.example1 {
 height: 34px;	
 overflow: hidden;
 position: relative;
}
.example1 h4 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 34px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 25s linear infinite;
 -webkit-animation: example1 25s linear infinite;
 animation: example1 25s linear infinite;
}
.example1 h4:hover {
 /*-moz-transform:translateX(0%);
 -webkit-transform:translateX(0%);	
 transform:translateX(0%);*/
 /*-moz-animation: none;
 -webkit-animation: none;
 animation: none;*/
 -moz-animation-play-state: paused;
 -webkit-animation-play-state: paused;
 animation-play-state: paused;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

.divAddPostImage{
    font-size:1.6em;
    background-color:#f2f2f2;
    margin:7px;
    text-align:center;
    border:1px solid #d2d2d2;
    height: 70px;
    padding-left:0px;
    padding-right:0px;
}

.divAddPostImage img{
    height:100%;
    width:100%;
}

.divShareYourMemoryImage{
    font-size:1.6em;
    background-color:#f2f2f2;
    margin:10px;
    text-align:center;
    border:1px solid #d2d2d2;
}

.divAddPostImage span.spanPlus {
    /* padding: 36px 20px; */
    color: #337ab7;
    position: absolute;
    left: 40%;
    top: 40%;
    display:none;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.divMainShareYourMemory .divAddPostImage span.spanPlus {
    /* padding: 36px 20px; */
    color: #337ab7;
    position: absolute;
    left: 34%;
    top: 34%;
    display:none;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.divAddPostImage span.spanRemove {
    /* padding: 36px 20px; */
    color: #FFFFFF;
    position: absolute;
    right: 1%;
    top: 0%;
    display:none;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.divShareYourMemoryImage{
font-size:1.6em;
    background-color:#f2f2f2;
    margin:10px;
    text-align:center;
    border:1px solid #d2d2d2;
    height: 70px;
    padding-left:0px;
    padding-right:0px;
}

.divShareYourMemoryImage img{
    height:100%;
    width:100%;
}
.divShareYourMemoryImage span{
     /* padding: 36px 20px; */
    color: #337ab7;
    position: absolute;
    left: 34%;
    top: 34%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    color:#337ab7;
}

.divShareYourMemoryImage span:hover{
     /* padding: 36px 20px; */
    color: #337ab7;
    position: absolute;
    left: 34%;
    top: 34%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    color:#286090;
}
.divParentPostYourAdd {
    background-color:#ffffff;
    padding:20px;
    border-radius:10px;
}
#loader {
    background-image:url('../Images/Flip Flop.gif');
    background-size:16px 16px;
}
.divAddListingParent {
    background-color:#ffffff;
}

.divAddListingParent table tr td{
    padding:8px 8px 8px 0px;
}

#bigpic { float:left; margin:0 0 0px 0; }
#bigpic img { display:block; margin:0 auto; width: 100%; height:100%; }

#thumbs {height:100px; width:350px; clear:both; display:block;}
#thumbs ul{margin-left:0px; padding-left:0px; width:310px;}
#thumbs ul li { list-style-type:none; width:40px;display: inline; padding:0 10px 0 0; float:left;}
#thumbs ul li img {border:1px solid #ccc; width: 100%; height:100%; }
#thumbs ul li img:hover {cursor:pointer;border:1px solid #ddd;}


.navbar-inverse {
    background: #b22222;
    border-top: 2px solid #c35353;
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: #f2f2f2;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #f2f2f2;
    background-color: transparent;
}
.footerBorder {
    background: #b22222;
    border-top: 2px solid #c35353;
    border-bottom: 2px solid #c35353;
    height:40px;
}

.footerMain {
    background-color:#313131;
}
.footerMain table tr td {
    border-top:1px solid #000000;
    color:#f2f2f2;
}
.footerMain table tr td:hover {
    color:#e2e2e2;
    background-color:#000000;
}
.footerMain table tr td a {
    color:#f2f2f2;
}
.footerMain table tr td a:focus {
    color:#f2f2f2;
}
.headerExtremeTop {
    background-color:#000000;
    border-bottom:1px solid #5d5d5d;
}
.headerExtremeTop span {
    color:#D2D2D2;
    margin:2px 0px;
}

.headerExtremeTop a {
    color:#D2D2D2;
}
.headerExtremeTop a:focus {
    color:#FFFFFF;
}
.rightAddListing {
    margin-top:14px;
    /*max-height: 1500px;*/
    height: auto;
}
.rightAddListing img{
    height:120px;
}
.rightAddListing ul li{
   margin-top:20px;
}
.rightAddListing ul li p{
   padding:10px 0px;
   margin-top:4px;
   border-top:1px solid #e2e2e2;
}
legend {
    padding-bottom:20px;
}
.table > tbody > tr > th {
    border-top: 0px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.validation-summary-errors ul li{
    list-style-type:none;
    color:orangered;
}