@model Dekhlo.Web.Models.ModelProperty

@{
    ViewBag.Title = "EmailUs";
    Layout = "~/Views/Shared/LayoutResponsive.cshtml";
}

@if (Model != null)
{
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    @if (Model.ObjEnquiry != null)
                    {
                        @Html.Partial("~/Views/Home/_ContactUs.cshtml", Model.ObjEnquiry)
                    }
                </div>
            </div>
        </div>
    </div>

}