
@model Dekhlo.Web.Models.PageContent
@{
    ViewBag.Title = "SoftwareDevelopment";
    Layout = "~/Views/Shared/LayoutResponsive.cshtml";
}

<h2>Software Development</h2>
@if (Model != null && !String.IsNullOrEmpty(Model.PageText))
{
    @Html.Raw(Model.PageText)
}
