@{
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template21.jpg" alt="template21"></a></div>
                    <h2>FRT Mint</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 21</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template20.jpg" alt="template20"></a></div>
                    <h2>Michael & Julia</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 20</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template19.jpg" alt="template19"></a></div>
                    <h2>Birchwood</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 19</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template18.jpg" alt="template18"></a></div>
                    <h2>Maestro</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 18</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template17.jpg" alt="template17"></a></div>
                    <h2>Leader Horse Club</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 17</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template16.jpg" alt="template16"></a></div>
                    <h2>Portfolio</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 16</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template15.jpg" alt="template15"></a></div>
                    <h2>Miami</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 15</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template14.jpg" alt="template14"></a></div>
                    <h2>Yacht’s Florida</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 14</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template13.jpg" alt="template13"></a></div>
                    <h2>Children's Castle</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 13</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template12.jpg" alt="template12"></a></div>
                    <h2>Corn Food</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 12</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template11.jpg" alt="template11"></a></div>
                    <h2>Abc</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 11</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template10.jpg" alt="template10"></a></div>
                    <h2>Lage Palm</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 10</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template9.jpg" alt="template9"></a></div>
                    <h2>Zoo Co</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 9</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template8.jpg" alt="template8"></a></div>
                    <h2>frt _WheatField</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 8</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template7.jpg" alt="template7"></a></div>
                    <h2>frt_Auroch</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 7</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template6.jpg" alt="template6"></a></div>
                    <h2>Snail on the rain</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 6</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template5.jpg" alt="template5"></a></div>
                    <h2>Wood Selling Co</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 5</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template4.jpg" alt="template4"></a></div>
                    <h2>Quality Co</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 4</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template3.jpg" alt="template3"></a></div>
                    <h2>Flowers</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 3</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template2.jpg" alt="template2"></a></div>
                    <h2>Cooking School</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 2</a></div>
                </div>
                <div class="box">
                    <div class="picPreview"><a href="">
                        <img src="~/Images/template1.jpg" alt="template1"></a></div>
                    <h2>Woman’s Laptop</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
                    <div class="templateLink"><a href="">template 1</a></div>
                </div>
